<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>USARPS Championship Statistics</title>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body class="min-h-svh flex justify-center bg-slate-950">
    <main class="bg-gray-900 text-gray-100 my-12 rounded-lg py-6 px-8">
      <h1 class="text-4xl text-slate-100 font-semibold mb-3">
        USARPS Championship Statistics
      </h1>
        <div class="px-4 pt-3 pb-2 bg-gray-800 rounded-2xl">
          <div class="flex items-baseline justify-between mb-1">
            <h2 class="text-2xl">HTL Rennweg Tournament</h2>
            <p class="text-sm text-gray-300 mr-2">08.04.2024</p>
          </div>
          <table class="border-separate border-spacing-x-2 border-spacing-y-4 table-auto w-full text-sm">
            <tbody class="text-left">
            {% for gameround in gamerounds %}
                {% include 'gameround.html.twig' with {'gameround': gameround} only %}
            {% endfor %}
            </tbody>
          </table>
        </div>
        <form action="create.php" method="post" class="mt-4 p-4 rounded-xl bg-gray-800 [&_input]:bg-gray-700 [&_input]:p-1 [&_input]:rounded
        [&_select]:bg-gray-700
        [&_select]:p-1
        [&_select]:rounded
        ">
        <h2 class="text-xl font-semibold">New Game Round</h2>
            <fieldset>
                <legend class="text-sm">Player 1</legend>
                <input type="text" name="player1_name" id="player1_name" class="">
                <select name="player1_symbol" id="player1_symbol">
                    <option value="R">Rock</option>
                    <option value="P">Paper</option>
                    <option value="S">Scissors</option>
                </select>
            </fieldset>

            <fieldset>
                <legend class="text-sm">Player 2</legend>
                <input type="text" name="player2_name" id="player2_name">
                <select name="player2_symbol" id="player2_symbol">
                    <option value="R">Rock</option>
                    <option value="P">Paper</option>
                    <option value="S">Scissors</option>
                </select>
            </fieldset>
            <h3 class="text-sm">Date</h3>
            <div class="mb-2">
                <input type="datetime-local" name="rounddate" id="rounddate">
            </div>
            <input type="submit" value="Hinzufügen" class="w-full !bg-sky-700 text-sky-100 !focus:bg-sky-800 cursor-pointer">
        </form>
    </main>
  </body>
</html>
